@model ShortListMVC.Models.HomeViewModel;
@{
    ViewData["Title"] = "Anasayfa";
}

<section class="hero-area overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
                <div class="hero-text text-center">

                    <div class="section-heading">
                        <h2 class="wow fadeInUp" data-wow-delay=".3s">Sarı sayfalar'a hoşgeldiniz</h2>
                        <p class="wow fadeInUp" data-wow-delay=".5s">
                            Sarı sayfalar'da hemen ilan verin <br>
                            ya da ilanları inceleyin, ilan sahipleriyle iletişime geçin.
                        </p>
                    </div>


                    <div class="search-form wow fadeInUp" data-wow-delay=".7s">
                        <form asp-controller="Posts" asp-action="Listing" method="get">
                            <div class="row">

                                <div class="col-lg-4 col-md-4 col-12 p-0">
                                    <div class="search-input">
                                        <label for="keyword"><i class="lni lni-search-alt theme-color"></i></label>
                                        <input type="text" name="keyword" id="keyword" placeholder="Anahtar kelime">
                                    </div>
                                </div>
                                @if (Model.Categories != null)
                                {
                                    <div class="col-lg-3 col-md-3 col-12 p-0">
                                        <div class="search-input">
                                            <label for="category"><i class="lni lni-grid-alt theme-color"></i></label>
                                            <select name="category" id="category">
                                                <option value="none" selected disabled>Kategoriler</option>
                                                @foreach (var cat in Model.Categories)
                                                {
                                                    <option value="@cat.Id">@cat.Name</option>
                                                }

                                            </select>
                                        </div>
                                    </div>
                                }

                                <div class="col-lg-3 col-md-3 col-12 p-0">
                                    <div class="search-input">
                                        <label for="location"><i class="lni lni-map-marker theme-color"></i></label>
                                        <select name="city" id="city">
                                            <option value="none" selected disabled>Şehir</option>
                                             @foreach (var city in Model.Cities)
                                                {
                                                    <option value="@city.Id">@city.Name</option>
                                                }                                           
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-12 p-0">
                                    <div class="search-btn button">
                                        <input type="submit" class="btn" value="İlanlarda Ara"/>
                                    </div>
                                </div>
                            </div>

                        </form>


                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
@if (Model.Categories != null)
{
    <section class="categories">
        <div class="container">
            <div class="cat-inner">
                <div class="row">
                    <div class="col-12 p-0">
                        <div class="category-slider">
                            @foreach (var item in Model.CategoryStats)
                            {
                                <a asp-controller="Posts" asp-action="Listing" asp-route-category="@item.Category.Id" class="single-cat">
                                    <div class="icon">
                                        <img src="assets/images/categories/@(item.Category.Icon).svg" alt="#">
                                    </div>
                                    <h3>@item.Category.Name</h3>
                                    <h5 class="total">@item.CategoryPosts</h5>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<section class="items-grid section custom-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">Güncel İlanlar</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s">
                        Güncel ilanları inceleyip ilan sahipleri ile iletişime geçebilirsiniz.
                    </p>
                </div>
            </div>
        </div>
        <div class="single-head">
            <div class="row">
                @foreach (var post in Model.Posts)
                {
                    <div class="col-lg-4 col-md-6 col-12">

                        <div class="single-grid wow fadeInUp" data-wow-delay=".2s">
                            @if (!string.IsNullOrEmpty(post.ImageUrl))
                            {
                                <div class="image">
                                    <a asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id" class="thumbnail"><img src="@post.ImageUrl" alt="#"></a>
                                    <div class="author">
                                        <div class="author-image">
                                            <a href="javascript:void(0)">
                                                <!--
                                                <img src="assets/images/items-grid/author-1.jpg" alt="#"/>
                                                -->
                                        <span>İlan Sahibi</span>
                                            </a>
                                        </div>
                                        <!--
                                            <p class="sale">Yeni</p>
                                        -->
                            </div>
                                </div>
                            }

                            <div class="content">
                                <div class="top-content">
                                    <a href="javascript:void(0)" class="tag">@post.Category.Name</a>
                                    <h3 class="title">
                                        <a asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id">@post.Title</a>
                                    </h3>
                                    <p class="update-time">Son güncelleme: 1 saat önce</p>
                                    <ul class="rating">
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><a href="javascript:void(0)">(0)</a></li>
                                    </ul>
                                    <ul class="info-list">
                                        @if (post.City != null)
                                        {
                                            <li><a href="javascript:void(0)"><i class="lni lni-map-marker"></i> @post.City.Name</a></li>
                                        }
                                        <li><a href="javascript:void(0)"><i class="lni lni-timer"></i> 29 Ekim 2023</a></li>
                                    </ul>
                                </div>
                                <div class="bottom-content">
                                    <p class="price">Etiketler: <span>@post.Tags</span></p>
                                    <a href="javascript:void(0)" class="like"><i class="lni lni-heart"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                }


            </div>
        </div>
    </div>
</section>

<section class="call-action overlay section">
    <div class="container">
        <div class="row ">
            <div class="col-lg-8 offset-lg-2 col-12">
                <div class="inner">
                    <div class="content">
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">
                            Siz de ilanınızı Sarı Sayfalar'da verin<br>
                            zamandan tasarruf edin
                        </h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">Sarı sayfalar ile siz de zaman kazanın<br> Sarı Sayfalar'da ilan vermek çok kolay!</p>
                        <div class="button wow fadeInUp" data-wow-delay=".8s">
                            <a asp-controller="Posts" asp-action="Create" class="btn">Hemen ilan ver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--

<div class="row" data-masonry='{"percentPosition": true }'>
    @@foreach (var post in Model)
    {
        <div class="col-lg-4 col-xl-3">
            <div class="card my-3">
                @@if (!string.IsNullOrEmpty(post.ImageUrl))
                {
                    <img src=@@post.ImageUrl class="img-fluid" alt="thumbnail" />
                }
                <div class="card-body">
                    <h3 class="card-title">@@post.Title</h3>
                    <p class="card-text">@@post.Content</p>
                    <a asp-controller="Posts" asp-action="Details" asp-route-id=@@post.Id class="stretched-link">

                    </a>
                </div>
            </div>
        </div>
    }
</div>

-->
